.btn1 {

  

    display: block;
    width: 150px;
     font-family: fantasy ;
     font: weight 900px;;
     background-color:  rgb(33, 189, 142);
     border-radius: 15px;
     padding: 15px 30px;
     margin: -10px 400px ;
     color: rgb(255, 255, 255);
     text-decoration: none;
     border: 3px solid rgb(255, 255, 255);
     text-align: center;
     font-size: 30px;
     animation: zy infinite ;
     animation-duration :0.7s;
     
      
   }        

     @keyframes zy {
      
     o%  { border: 3px solid rgb(176, 66, 250)  ; }
     25% { border: 3px solid rgb(255, 97, 221)  ; }
     50% { border: 3px solid rgb(110, 209, 255) ; }
     75% { border: 3px solid rgb(57, 255, 107)  ; }
    100% { border: 3px solid rgb(79, 255, 182)  ;}


     }
     
   
   .btn1:hover{
    
      background-color: transparent;
      border: 3px solid rgb(33, 189, 142);
      color: rgb(4, 0, 7);

                   }
            
                   
   .q {

  

    display: block;
    width: 150px;
     font-family: fantasy ;
     font: weight 900px;;
     background-color: rgb(33, 189, 142);
     border-radius: 15px;    
     padding: 15px 30px;
     margin: -70px 700px ;
     color: rgb(255, 255, 255);
     text-decoration: none;
     border: 3px solid rgb(33, 189, 142);
     text-align: center;
     font-size: 30px;
     
    }

   .q:hover{
      
      background-color: transparent;
      border: 3px solid rgb(33, 189, 142);
      color: rgb(4, 0, 7);
      left: 20px;
     }

 
     